<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            FASTAPI TICKETING - {{ title }}
        {% else %}
            FASTAPI TICKETING
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">Ticket System</a>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/tickets/create">Create Ticket</a>
        </div>
    </nav>
    <main class="container">
        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>